@model DigitalNagrik.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutDashGAC.cshtml";
    Dictionary<string, string> LabelDictionary = ViewData["LabelDictionary"] as Dictionary<string, string>;
}
<style>
    .min-vh-30 {
        min-height: 70vh !important;
    }
</style>
<div class="container no-padding bg-light min-vh-30" style="font-size:18px">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="mb-0" style="color: black;margin-left:10px; margin-top: 10px;"><i class="bx bx-key me-1"></i>@LabelDictionary["ChangePassword"] </h3>
        </div>
        <div class="col-lg-6 mt-1">
            <a class="btn btn-warning btn-sm float-end" href='@Url.Action("Index", "GACGridViewInbox", new {Area="GridView"})'>
                <i class="bx bx-arrow-back align-middle"></i> @LabelDictionary["Back"]
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-7">
            @using (Html.BeginForm("UpdatePassword", "UserList", FormMethod.Post, new { id = "frm_ChangePassword", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.HashCurrentPassword)
                @Html.HiddenFor(x => x.HashNewPassword)
                <div class="row">
                    <div class="col-lg-4">
                        <label class="custom-input-label mb-1">@LabelDictionary["CurrentPassword"]</label><span class="text-danger"> *</span>
                    </div>
                    <div class="col-lg-8 mb-3">
                        @Html.TextBoxFor(x => x.CurrentPassword, new { @id = "CurrentPassword", @Type = "Password", @class = "form-control DisabledInputs", placeholder = @LabelDictionary["CurrentPassword"], @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.CurrentPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="custom-input-label mb-1">@LabelDictionary["NewPassword"]</label><span class="text-danger"> *</span>
                    </div>
                    <div class="col-lg-8 mb-3">
                        @Html.TextBoxFor(x => x.NewPassword, new { @id = "NewPassword", @class = "form-control DisabledInputs", @Type = "Password", placeholder = @LabelDictionary["NewPassword"], @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="custom-input-label mb-1">@LabelDictionary["ConfirmPassword"]</label><span class="text-danger"> *</span>
                    </div>
                    <div class="col-lg-8 mb-3">
                        @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @id = "ConfirmNewPassword", @class = "form-control DisabledInputs", @Type = "Password", placeholder = @LabelDictionary["ConfirmPassword"], @autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" id="btnSubmit">@LabelDictionary["ChangePassword"]</button>
                        <button type="button" class="btn btn-danger" id="btnCancel">@LabelDictionary["Reset"]</button>
                    </div>
                </div>

            }
        </div>
        <div class="col-5">
            <div class="margin-bottom-20" id="divInstructions">
                <h4>
                    <span style="color: red">* </span>
                    <label style="text-decoration: underline;">@LabelDictionary["PasswordHeading"]</label>
                </h4>
                <table class="table-condensed" style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 3%; vertical-align: top;"><i class="bx bxs-hand-right text-black"></i></td>
                            <td>@LabelDictionary["PasswordHeading1"]</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><i class="bx bxs-hand-right text-black"></i></td>
                            <td>@LabelDictionary["PasswordHeading2"]</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><i class="bx bxs-hand-right text-black"></i></td>
                            <td>@LabelDictionary["PasswordHeading3"]</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><i class="bx bxs-hand-right text-black"></i></td>
                            <td>@LabelDictionary["PasswordHeading4"]</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;"><i class="bx bxs-hand-right text-black"></i></td>
                            <td>@LabelDictionary["PasswordHeading5"]</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/js/sha256.js")></script>
<script>
    $("#btnCancel").click(function () {
        $('.DisabledInputs').prop('disabled', false);
        var url = '@Url.Action("ChangePassword", "UserList")';
        window.location.href = url;
    });
        $("#btnSubmit").click(function () {
            if ($("#frm_ChangePassword").valid()) {
                $("#HashCurrentPassword").val(sha256($("#CurrentPassword").val())); $("#HashNewPassword").val(sha256($("#NewPassword").val()));
                $("#CurrentPassword").rules("remove", "required"); $("#NewPassword").rules("remove", "required"); $("#ConfirmNewPassword").rules("remove", "required");
                $("#CurrentPassword").val(""); $("#NewPassword").val(""); $("#ConfirmNewPassword").val("");
                $('#frm_ChangePassword').submit();
            }
        });

</script>

