@model DigitalNagrik.Models.CommonLogin
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublicCurrent.cshtml";
    Dictionary<string, string> LabelDictionary = ViewData["LabelDictionary"] as Dictionary<string, string>;
}
<script src=@Url.Content("~/assets/js/sha256.js")></script>


<div class="row">
    <div class="col-xl-8 my-3 my-lg-5 py-lg-5 text-center text-xl-start">
        @Html.Partial("~/Views/Home/_IndexImageContent.cshtml")
    </div>

    <div class="col-xl-4 my-3 my-lg-5">
        <div class="card box-shadow">
            <div class=" card-header loginpanel text-white   ">
                <div class="row">
                    <div class="col-md-12" style="text-align:left ">

                        &nbsp;&nbsp;&nbsp;
                        <span id="LoginHeaderText" class="fw-bold"> @LabelDictionary["GrievanceAppellateCommitteeLogin"]</span>
                    </div>
                </div>
            </div>
            <div class="card-body " id="LoginDiv" style="min-height:250px;">
                @using (Html.BeginForm("ExpertMember", "Home", FormMethod.Post, new { id = "ExpertMember" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.HiddenFor(x => x.hdExpertMember)

                    @Html.ValidationMessage("ExpertMemberMessage")
                    <div class="mb-2 row">
                        <div class="col-12">
                            <div class="col-md-12 ">
                                <label class="fw-bold" for="form2Example17">@LabelDictionary["EnterMobileNumber"]<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.ExpertMobile, new { @class = "form-control", @maxlength = "10", @placeholder = @LabelDictionary["EnterMobileNumberPlaceHolder"], @OnKeyPress = "return AllowNumericOnly();" })
                                @Html.ValidationMessageFor(x => x.ExpertMobile)
                            </div>
                        </div>
                    </div>

                    <div class="mb-4 row">
                        <div class="col-12">
                            <label class="custom-input-label mb-1">@LabelDictionary["Captcha"]<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <img id="CaptchaImageMExp" alt="Captcha" src="@Url.Action("CaptchaImageNew", "Home", new { Area = "" })" />
                                    <a title="Click to refresh Captcha" onclick="RefreshCaptcha();"><i class="fa fa-refresh ms-2" aria-hidden="true"></i></a>
                                </span>
                                @Html.TextBoxFor(x => x.MExpCaptcha, new { @class = "form-control DisabledInputs", placeholder = LabelDictionary["EnterCaptchaPlaceHolder"], autocomplete = "off", maxlength = "6" })
                            </div>
                            <div id="SpanCaptchaGACValidation">
                                @Html.ValidationMessageFor(x => x.MExpCaptcha)
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1"></div>
                        <div class="col-5">
                            <a class="btn btn-loginpanel btn-block" style="width:75px;" href="@Url.Action("GAC", "Home", new { Area = "" })">@LabelDictionary["Cancel"]</a>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-loginpanel" id="btnMExpUserSubmit">&nbsp;@LabelDictionary["SendOTP"]</button>
                        </div>

                        <div class="col-1"></div>
                    </div>

                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align: center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top: 6px; padding-bottom: 6px; padding-left: 5px; padding-right: 5px;">
                        <b>@Model.Submitted.Trim()</b><br />@LabelDictionary["AppealsReceived"]
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align:center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top:6px;padding-bottom:6px; padding-left:5px;padding-right:5px;">
                        <b>@Model.Disposed.Trim()</b><br />@LabelDictionary["AppealsDisposed"]
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




<script>
    function RefreshCaptcha() {
   $("#CaptchaImageMExp").attr("src", '@Url.Action("CaptchaImageNew", "Home", new { area = "" })?' + new Date().getTime());
    };
    $("#btnMExpUserSubmit").click(function () {
        
        if ($("#ExpertMember").valid()) {
            $('#hdExpertMember').val("E");
            $('#ExpertMember').submit();
        }
    });
    function AllowNumericOnly(e) {
        var ch = String.fromCharCode(event.keyCode);
        var filter = /[0-9]/;
        if (!filter.test(ch)) {
            event.returnValue = false;
            return false;
        }
        else {
            return true;
        }
    }

</script>



