@model DigitalNagrik.Models.CommonLogin
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPublicCurrent.cshtml";
    Dictionary<string, string> LabelDictionary = ViewData["LabelDictionary"] as Dictionary<string, string>;
}
<script src=@Url.Content("~/assets/js/sha256.js")></script>
@*<style>
        @@media only screen and (min-width: 1200px) {
            .footer {
                margin-top: 10px;
                position: fixed;
                background-color: #175a7b;
                color: #ffffff;
            }
        }

        @@media only screen and (min-width: 1920px) {
            .footer {
                margin-top: 10px;
                position: fixed;
                background-color: #175a7b;
                color: #ffffff;
            }
        }
    </style>*@

<div class="row">
    <div class="col-xl-8 my-3 my-lg-5 py-lg-5 text-center text-xl-start">
        @Html.Partial("~/Views/Home/_IndexImageContent.cshtml")
    </div>

    <div class="col-xl-4 my-3 my-lg-5">
        <div class="card box-shadow">
            <div class="card-header loginpanel text-white">
                <div class="row">
                    <div class="col-md-12" style="text-align:left ">
                        &nbsp;&nbsp;&nbsp;
                        <span id="LoginHeaderText" class="fw-bold"> @LabelDictionary["AppellantLoginIndex"]</span>
                    </div>
                </div>
            </div>
            <div class="card-body" id="LoginDiv" style="min-height:250px;">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "AppellantLogin", autocomplete = "off" }))
                {
                    @*@Html.ValidationSummary(true)*@
                    @Html.HiddenFor(x => x.hdActionAppellant)
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessage("AppellantErrorMessage")

                    <div class="row mt-2">
                        <div class="col-md-1">
                            @Html.CheckBoxFor(m => m.PolicyCheck)
                        </div>
                        <div class="col-md-11">
                            I have read and agree to the <a target="_blank" href="https://gac.gov.in/CMSData/CMSViewAttachment?qs=DTWr7vJt8mOEfusdPp/Wsw==">Privacy Policy </a>
                            and <a target="_blank" href="https://gac.gov.in/CMSData/CMSViewAttachment?qs=EFjSG8GfYpAmbH3jQ8y/8Q==">Terms of Service</a> of the Grievance Appellate Committee platform.
                            <br />@Html.ValidationMessageFor(x => x.PolicyCheck)
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12 ">
                            <label class="fw-bold" for="form2Example17">@LabelDictionary["EnterMobileNumber"]<span class="text-danger">*</span></label>
                            @Html.TextBoxFor(m => m.AppellantMobile, new { @class = "form-control", @maxlength = "10", @placeholder = @LabelDictionary["EnterMobileNumberPlaceHolder"], @OnKeyPress = "return AllowNumericOnly();" })
                            @Html.ValidationMessageFor(x => x.AppellantMobile)
                        </div>
                    </div>
                    <div class="mt-4 row">
                        <div class="col-md-12">
                            <label class="custom-input-label mb-1">@LabelDictionary["Captcha"]<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <img id="CaptchaImage" alt="Captcha" src="@Url.Action("CaptchaImageNew", "Home", new { Area = "" })" />
                                    <a title="Click to refresh Captcha" onclick="RefreshCaptcha()"><i class="fa fa-refresh ms-2" aria-hidden="true"></i></a>
                                </span>
                                @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control DisabledInputs", placeholder = @LabelDictionary["EnterCaptchaPlaceHolder"], autocomplete = "off", maxlength = "6" })
                            </div>
                            <div id="SpanCaptchaValidation">
                                @Html.ValidationMessageFor(x => x.Captcha)
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12 " style="text-align:center;margin-top: 10px;">
                        <button type="button" class="btn btn-loginpanel" id="btnAppellantSendOTP">&nbsp;@LabelDictionary["SendOTP"]</button>
                        @*<input type="submit" id="btnLogin" class="btn btn-loginpanel  btn-block" value="Send OTP" />*@
                    </div>
                    <div class="row" style="font-style:italic;">
                        <div class="col-md-12 mt-2" style="text-align:center;font-size:14px;">
                            @Html.ActionLink(LabelDictionary["ChangeYourRegisteredMobileNumber"], "ExistMobileorEmailforChangeMob")

                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" id="dvMessage" style="display :none ;">

                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align: center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top: 6px; padding-bottom: 6px; padding-left: 5px; padding-right: 5px;">
                        <b>@Model.Submitted.Trim()</b><br />@LabelDictionary["AppealsReceived"]
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align:center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top:6px;padding-bottom:6px; padding-left:5px;padding-right:5px;">
                        <b>@Model.Disposed.Trim()</b><br />@LabelDictionary["AppealsDisposed"]
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    $(document).ready(function () {
        //$("#divDisclaimer").modal('show');
        showDisclaimer();
    });
     function RefreshCaptcha() {

        $("#CaptchaImage").attr("src", '@Url.Action("CaptchaImageNew", "Home", new { area = "" })?' + new Date().getTime());

    };
    function AllowNumericOnly(e) {
        var ch = String.fromCharCode(event.keyCode);
        var filter = /[0-9]/;
        if (!filter.test(ch)) {
            event.returnValue = false;
            return false;
        }
        else {
            return true;
        }
    }
    $("#btnAppellantSendOTP").click(function () {
        var PolicyCheckValue = $("#PolicyCheck").is(":checked");
        if (PolicyCheckValue == false) {
                alertify.error('Please accept Privacy Policy and Terms of Service');
                return false;
        }

        if ($("#AppellantLogin").valid()) {
            $('#hdActionAppellant').val("A");
            $('#AppellantLogin').submit();
        };
    });

</script>



