@model DigitalNagrik.Models.CommonLogin
@{

    ViewBag.Title = "Home";
    var resendOTP = Url.Action("getResendOTP", "Home", new { Area = "" });
    Layout = "~/Views/Shared/_LayoutPublicCurrent.cshtml";
    var EmailorMobile = "";
    var func = "";
    if (Session["ActionFromIndex"].ToString() == "A")
    {
        EmailorMobile = "M";
        func = "LoginCitizen";
    }
    else if (Session["ActionFromIndex"].ToString() == "I")
    {
        EmailorMobile = "E";
        func = "InterLogin";
    }
    else
    {
        EmailorMobile = "M";
        func = "GACLogin";
    }
    var EncKeySalt = "";
    if (Session["EncKeySalt"] != null)
    {
        EncKeySalt = Session["EncKeySalt"].ToString();
    }
    Dictionary<string, string> LabelDictionary = ViewData["LabelDictionary"] as Dictionary<string, string>;
}

<script src="~/assets/js/aes.js"></script>
<div class="row">
    <div class="col-lg-8 logo-m">
        @Html.Partial("~/Views/Home/_IndexImageContent.cshtml")
    </div>
    <div class="col-lg-4 ">
        <div class="card box-shadow">
            <div class=" card-header loginpanel text-white   ">
                <div class="row">
                    <div class="col-md-12" style="text-align:left ">
                        <i id="LoginIcon" class="bi bi-phone"></i>
                        &nbsp;&nbsp;&nbsp;
                        <span id="LoginHeaderText" class="fw-bold"> @LabelDictionary["OTPVerification"] </span>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm("OTPVerificationNew", "Home", FormMethod.Post, new { id = "OTPVerificationNew", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(m => m.EncryptedID)
                    @*@Html.HiddenFor(m => m.OTPMobile)
                    @Html.HiddenFor(m => m.InterEmailID)
                    @Html.HiddenFor(m => m.GACEmailID)*@
                    @Html.HiddenFor(m => m.OTPID)
                    @Html.HiddenFor(m => m.OTPEnc)


                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <label class="form-label" for="form2Example17">
                                @if (Session["ActionFromIndex"].ToString() == "A")
                                {
                                <span>
                                    @LabelDictionary["EnterOTPSentonMobileNumber"] <b>@Model.EncryptedID </b> @LabelDictionary["withOTPID"] <b>
                                        <span id="otpshow">@Html.DisplayFor(m => m.OTPID, new { @id = "otpshow" })</span>
                                    </b>
                                </span>
                                }
                                else if (Session["ActionFromIndex"].ToString() == "I")
                                {
                            <span>
                                @LabelDictionary["EnterOTPSentonEmail"]  <b>xxxxx</b><b>@Model.EncryptedID.Substring(5,Model.InterEmailID.Length-5)  </b>
                            </span>
                                }
                                else if (Session["ActionFromIndex"].ToString() == "G")
                                {
                            <span>
                                @LabelDictionary["EnterOTPSentonMobileNumber"] <b>xxxxxx</b><b>@Model.EncryptedID.Substring(6, 4) </b> @LabelDictionary["withOTPID"] <b>
                                    <span id="otpshow">@Html.DisplayFor(m => m.OTPID, new { @id = "otpshow" })</span>
                                </b>
                            </span>
                                }
                                else { 
                            <span>
                                @LabelDictionary["EnterOTPSentonMobileNumber"] <b>@Model.EncryptedID </b> @LabelDictionary["withOTPID"]<b>
                                    <span id="otpshow">@Html.DisplayFor(m => m.OTPID, new { @id = "otpshow" })</span>
                                </b>
                            </span>
                                }
                            </label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.OTP, new { @class = "form-control", @OnKeyPress = "return AllowNumericOnly();" })
                            @Html.ValidationMessageFor(x => x.OTP)
                        </div>
                        <div class="col-sm-8" style="text-align:left">
                            <a id="resendOTP" class="btn btn-loginpanel " href="#">
                                @LabelDictionary["Resend"]
                            </a>
                            <div id="WaitDiv" class="text-info"></div>
                        </div>


                    </div>
                    <div class="mt-4 row">
                        <div class="col-md-9">
                            <label class="custom-input-label mb-1">@LabelDictionary["Captcha"]<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <img id="CaptchaImage" alt="Captcha" src="@Url.Action("CaptchaImageNew", "Home", new { Area = "" })" />
                                    <a title="Click to refresh Captcha" onclick="RefreshCaptcha()"><i class="fa fa-refresh ms-2" aria-hidden="true"></i></a>
                                </span>
                                @Html.TextBoxFor(x => x.Captcha, new { @id = "txtCaptcha", @class = "form-control DisabledInputs", placeholder = @LabelDictionary["EnterCaptchaPlaceHolder"], autocomplete = "off", maxlength = "6" })
                            </div>
                            <div id="SpanCaptchaValidation">
                                @Html.ValidationMessageFor(x => x.Captcha)
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-sm-3">
                            @if (Session["ActionFromIndex"].ToString() == "A")
                            {
                            <a class="btn btn-loginpanel btn-block" style="width:75px;" href="@Url.Action("Index", "Home", new { Area = "" })">@LabelDictionary["Cancel"]</a>
                            }
                            else if (Session["ActionFromIndex"].ToString() == "I")
                            {
                        <a class="btn btn-loginpanel btn-block" style="width:75px;" href="@Url.Action("Intermediary", "Home", new { Area = "" })">@LabelDictionary["Cancel"]</a>
                            }
                            else 
                            {
                        <a class="btn btn-loginpanel btn-block" style="width:75px;" href="@Url.Action("GAC", "Home", new { Area = "" })">@LabelDictionary["Cancel"]</a>
                            }
                            

                        </div>
                        
                        <div class="col-3">
                            <input type="button" id="btnVerify" class="btn btn-loginpanel btn-block" style="width:75px;" value="@LabelDictionary["Verify"]" onclick="return encryptOTP();" />
                        </div>


                        <div class="col-sm-2"></div>
                    </div>


                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align: center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top: 6px; padding-bottom: 6px; padding-left: 5px; padding-right: 5px;">
                        <b>@Model.Submitted.Trim()</b><br />@LabelDictionary["AppealsReceived"]
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-6" style="text-align:center;">
                <div class="card box-shadow mt-2">
                    <div class="card-body" style="padding-top:6px;padding-bottom:6px; padding-left:5px;padding-right:5px;">
                        <b>@Model.Disposed.Trim()</b><br />@LabelDictionary["AppealsDisposed"]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<script>
    function RefreshCaptcha() {
        $("#CaptchaImage").attr("src", '@Url.Action("CaptchaImageNew", "Home", new { area = "" })?' + new Date().getTime());
    };
    function encryptOTP() {
        if ($("#OTPVerificationNew").valid()) {
         var EncryptedID = $('#EncryptedID').val();
        var OTP = $('#OTP').val();
        var keynew = "@EncKeySalt";
        var key = CryptoJS.enc.Utf8.parse(keynew);
        var iv = CryptoJS.enc.Utf8.parse(keynew);

        var encrypted = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(OTP), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
            encrypted = encrypted.toString();

            var EncryptedIDval = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(EncryptedID), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
            EncryptedIDval = EncryptedIDval.toString();

            $('#OTP').val(encrypted);
           // $('#OTP').val("000000");
            $('#OTPEnc').val(encrypted);
            $('#EncryptedID').val(EncryptedIDval);
            $('#OTPVerificationNew').submit();
            return true;
        }
        else {
            return false;
        };
    }

</script>


<script>
    $(document).ready(function () {
        $("#resendOTP").hide();
        var timeLeft = 30;
        var timerId = setInterval(countdown, 1000);
        function countdown() {
            // console.log(timeLeft);
            if (timeLeft == -1) {
                clearInterval(timerId);
                $("#resendOTP").show();
                $("#WaitDiv").hide();
            } else {
                $("#resendOTP").hide();
                $("#WaitDiv").show();
                WaitDiv.innerHTML ='@LabelDictionary["OptionresendMsg"] ' + timeLeft + ' @LabelDictionary["seconds"]';
                timeLeft--;
            }
        }
    });

    function countdown() {
        console.log(timeLeft);
        if (timeLeft == -1) {
            clearTimeout();
            $("#resendOTP").show();
            $("#WaitDiv").hide();
        } else {
            $("#resendOTP").hide();
            $("#WaitDiv").show();
            WaitDiv.innerHTML = '@LabelDictionary["OptionresendMsg"] ' + timeLeft + ' @LabelDictionary["seconds"]';
            timeLeft--;
        }
    }

           $("#resendOTP").click(function() {
               var url = "@resendOTP";

               var dataValue = { EmailorMobile:"@EmailorMobile", func:"@func"};
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: dataValue,
                async: true,
                success: function (result) {
                  // console.log(result["OTPID"]);
                   //console.log(result["OTP"]);
                    if (result["OTPID"] == "0" ) {
                       // console.log("error" +result["OTPID"]);
                        alertify.error(result["Msg"]);
                    }
                    else {
                      //  console.log("ajax"+result["OTPID"]);
                        $('#otpshow').text(result["OTPID"]);
                        $('#OTPID').val(result["OTPID"]);
                        var timeLeft = 30;
                        var timerId = setInterval(countdown, 1000);
                        function countdown() {
                            // console.log(timeLeft);
                            if (timeLeft == -1) {
                                clearInterval(timerId);
                                $("#resendOTP").show();
                                $("#WaitDiv").hide();
                            } else {
                                $("#resendOTP").hide();
                                $("#WaitDiv").show();
                                WaitDiv.innerHTML = 'Option to resend OTP will appear after ' + timeLeft + ' seconds';
                                timeLeft--;
                            }
                        }
                    }
                },
                error: function(xhr, x, e) {
                alert(e);
                },
                complete: function() {
                }
            });
        });
    function AllowNumericOnly(e) {
        var ch = String.fromCharCode(event.keyCode);
        var filter = /[0-9]/;
        if (!filter.test(ch)) {
            event.returnValue = false;
            return false;
        }
        else {
            return true;
        }
    }
</script>