@model DigitalNagrik.Areas.Intermediary.Data.ReliefSoughts
@{
    ViewBag.Title = "AddNewIntermediary";
    Layout = "~/Views/Shared/_LayoutDashGAC.cshtml";
    Dictionary<string, string> LabelDictionary = ViewData["LabelDictionary"] as Dictionary<string, string>;
}
<style>
    .min-vh-50 {
        min-height: 80vh !important;
    }
</style>
<div class="col-lg-12 min-vh-50">
    <div class="row p-3">
        <div class="col-6">
            <h3> <i class="bx bx-user text-primary align-middle me-1"></i> @LabelDictionary["Add/UpdateReliefSought(s)"]</h3>
        </div>
        <div class="col-6">
            <a class="btn btn-warning float-end me-2" href='@Url.Action("Index", "GACGridViewInbox", new {Area="Gridview"})'>
                <i class="bx bx-arrow-back align-middle"></i> @LabelDictionary["Back"]
            </a>
            <a class="btn btn-success float-end me-2" href="javascript:void(0);" title="Add New Relief Sought" data-url="@Url.Action("AddUpdateReliefSoughtShowPopUp", "IntermediaryDashboard", new { Area = "Intermediary", qs=SecureQueryString.SecureQueryString.Encrypt("ReliefId=0") })" onclick="NewAction($(this))">
                <i class="bx bx-plus-circle me-1 align-middle"></i>@LabelDictionary["AddNewReliefSought"]
            </a>
        </div>
    </div>
    <hr class="m-0" />
    <div class="row">
        <div class="col-12 overflow-auto">
            <table id="tableAppList" class="table table-bordered align-top table-responsive">
                <thead style="font-size:18px">
                    <tr class="table-primary">
                        <th scope="col" width="1%"> @LabelDictionary["Sl.No"]</th>
                        <th scope="col" width="30%">@LabelDictionary["ReliefTitle"]</th>
                        <th scope="col" width="30%">@LabelDictionary["SpecificationLabel"]</th>
                        <th scope="col" width="4%">@LabelDictionary["IsActive"]</th>
                        <th class="text-center" width="5%" scope="col">@LabelDictionary["Action"]</th>
                    </tr>
                </thead>
                <tbody class="bg-light" style="font-size:18px;">
                    @{
                        int counter = 1;
                    }
                    @foreach (var row in Model.List)
                    {
                        <tr>
                            <td class="text-center">@counter</td>
                            <td>
                                @row.ReliefTitle
                            </td>
                            <td>
                                @row.SpecificationLabel
                            </td>
                            <td class="text-center">
                                @if (@row.IsActive == "Y")
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" onchange="changeisActive('@row.ReliefId', 'N')" role="switch" id="flexisActive" checked>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" onchange="changeisActive('@row.ReliefId', 'Y')" role="switch" id="flexisActive">
                                    </div>
                                }

                            </td>
                            <td class="text-center">
                                <a class="text-success" href="javascript:void(0);" title="Edit Relief Sought" data-url="@Url.Action("AddUpdateReliefSoughtShowPopUp", "IntermediaryDashboard", new { Area = "Intermediary", qs=SecureQueryString.SecureQueryString.Encrypt("ReliefId="+row.ReliefId) })" onclick="NewAction($(this))"><i class="bx bx-edit h3 align-middle"></i></a>
                            </td>

                        </tr>
                        counter = counter + 1;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="gv-action-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="gv-action-modal-content"></div>
    </div>
</div>
<script>
    function changeisActive(ReliefID, Command) {
        $.ajax({
            url: '@Url.Action("ChangeStatusisActiveRS", "IntermediaryDashboard", new { Area = "Intermediary" })',
            type: "get",
            data: { ReliefID: ReliefID, Command: Command},
            datatype: "json",
            success: function (data) {
                if (data.Status == "S") {
                    alertify.notify("<div class='animated fadeIn m-0'><i class='fa fa-check-circle me-1'></i> Successfully Saved </div>", "success", 5, function () { });
                }
                else if (data.Status=="F") {
                    alertify.notify("<div class='animated fadeIn m-0'><i class='fa fa-window-close me-1'></i> Error while saving the record </div>", "error", 5, function () { });
                }
            }
        });
    }
    var _FormLoadHtml_Modal = '<div class="px-4 py-4 my-4 h-100 font-lg text-center"><div class="spinner-border spinner-border text-primary" role="status"><span class="visually-hidden">@LabelDictionary["FetchingData"]</span></div><br>@LabelDictionary["FetchingData"]</div>';
    function NewAction(element) {
        var URL = element.data("url");
        $.ajax({
                url: URL,
                type: "GET",
                dataType: "HTML",
                success: function (data) {
                if (data) { $("#gv-action-modal-content").html('').html(_FormLoadHtml_Modal).html(data); }
                }
             }).done(function () { $("#gv-action-modal").modal('toggle'); });
    }

</script>

